# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.*
.pnp.js
pnpm-lock.yaml
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build outputs
/build
/dist
/out/

# Testing
/coverage

# Misc
.DS_Store
*.pem
*.log
.env
.env.local
.env.*.local
.vscode/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Turborepo
.turbo

# Next.js
/.next/
next-env.d.ts
*.tsbuildinfo
.vercel

# React Native
# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local
.expo/
*.jks
*.keystore
android/keystores/
android/app/build/
android/.gradle
android/local.properties
ios/build/
ios/Pods/
ios/.xcode.env
ios/.xcode.env.local
ios/*.xcworkspace
ios/.xccheckout
ios/DerivedData
ios/mobile.xcodeproj/project.xcworkspace
ios/mobile.xcodeproj/xcuserdata
ios/mobile.xcworkspace
ios/mobile.xcworkspace/xcuserdata

# Android/IntelliJ
.idea
*.iml
*.hprof
.cxx/
!debug.keystore
.kotlin/

# Metro
.metro-health-check*

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby/CocoaPods
/vendor/bundle/
