# Node.js
node_modules
npm-debug.log
yarn-error.log

# IDEs / Editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific
.DS_Store
Thumbs.db

# Build artifacts
/build
/dist
/.next
/out

# Expo
.expo/

# Android
/android/app/build
/android/build

# iOS
/ios/build

# Other
.pnp
.pnp.js

# MilCalc specific
/coverage
.env
.env.local
packages/data

# Vercel
.vercel